.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  margin: 16px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the title under the thumbnail */
}

.video-thumbnail {
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Maintain aspect ratio */
  overflow: hidden;
}

.video-thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-title {
  margin-top: 8px; /* Ensure spacing between thumbnail and title */
  text-align: center;
  font-size: 14px;
  color: #666;
}

.video-thumbnail:hover {
  transform: scale(1.1);
}

.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
  z-index: 3;
}

.video-player.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.youtube-player {
  width: 80dvw;
  max-width: 800px;
  height: 45dvw;
}
