:host {
  display: block;
}
.mat-mdc-card-title {
  display: block;
    margin: 0;
  font-family: Roboto, sans-serif;
  line-height: normal;
  font-size: 22px;
  letter-spacing: normal;
  font-weight: 400;
  padding: 16px 16px 0;
  padding-top: 0;
}