:host {
  display: block;
}
.mat-mdc-card-subtitle {
  color: rgb(26, 27, 31);
  font-family: Roboto, sans-serif;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.144px;
  font-weight: 500;
  display: block;
  margin: 0;
  padding: 16px 16px 0;
  padding-top: 0;
}